body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 50px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #entradasMatrices {
    margin-bottom: 20px;
  }
  
  #resultado {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
  }
  